/* //////////////////////////////////////// */
/* Don't forget!!!
Delete all excess font styles */
/* From here and the files in the local fonts folder */
/* //////////////////////////////////////// */

/*====================
        FONTS
======================*/

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/Roboto-Thin.ttf') format('truetype'),
       url('./fonts/roboto/Roboto-Medium.ttf') format('truetype'),
       url('./fonts/roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 100, 500, 900;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/quicksand/Quicksand-Light.ttf') format('truetype'),
       url('./fonts/quicksand/Quicksand-Regular.ttf') format('truetype'),
       url('./fonts/quicksand/Quicksand-Medium.ttf') format('truetype'),
       url('./fonts/quicksand/Quicksand-Bold.ttf') format('truetype');
  font-weight: 300, 400, 500, 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat/Montserrat-Light.ttf') format('truetype'),
       url('./fonts/montserrat/Montserrat-Medium.ttf') format('truetype'),
       url('./fonts/montserrat/Montserrat-Bold.ttf') format('truetype'),
       url('./fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 300, 500, 700, 800;
}

/*====================
        APP
======================*/
:root {
  --primary: hsl(0, 0%, 100%);
  --gift: hsl(61, 75%, 59%);
}

body {
  background-color: var(--primary);
}

/*====================
        HEADER
======================*/

header {
  transition: all 300ms ease-in;
}

header.MuiAppBar-root {
  position: fixed;
  background-color: hsl(0, 0%, 0%);
  color: var(--primary);
  box-shadow: none;
  padding: 0px;
}

header .MuiToolbar-root {
  min-height: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

header .header_st {
  display: flex;
  justify-content: center;
  flex-grow: 3;
}

header .header_social {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

header .header_phone {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  align-items: center;
  font-size: 1rem;
}

.header_social .MuiIconButton-root,
.header_phone .MuiIconButton-root {  
  color: var(--primary);
  text-decoration: none;
  display: flex;
  align-items: center;
}


.header_social:hover .MuiIconButton-root:not(:hover),
.header_phone:hover .MuiIconButton-root:not(:hover) {
  color: rgb(30, 30, 30);
}

/* .header_social a:hover, .header_phone a:hover {
  color: red;
} */
/* @media (min-width: ) */

/*====================
        NAVBAR
======================*/