/* //////////////////////////////////////// */
/* Don't forget!!!
Delete all excess font styles */
/* From here and the files in the local fonts folder */
/* //////////////////////////////////////// */

/*====================
        FONTS
======================*/

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/Roboto-Thin.ttf') format('truetype'),
       url('./fonts/roboto/Roboto-Medium.ttf') format('truetype'),
       url('./fonts/roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 100, 500, 900;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/quicksand/Quicksand-Light.ttf') format('truetype'),
       url('./fonts/quicksand/Quicksand-Regular.ttf') format('truetype'),
       url('./fonts/quicksand/Quicksand-Medium.ttf') format('truetype'),
       url('./fonts/quicksand/Quicksand-Bold.ttf') format('truetype');
  font-weight: 300, 400, 500, 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat/Montserrat-Light.ttf') format('truetype'),
       url('./fonts/montserrat/Montserrat-Medium.ttf') format('truetype'),
       url('./fonts/montserrat/Montserrat-Bold.ttf') format('truetype'),
       url('./fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 300, 500, 700, 800;
}

@font-face {
  font-family: 'Fira';
  src: url('./fonts/fira/FiraSans-Light.ttf') format('truetype'),
       url('./fonts/fira/FiraSans-Regular.ttf') format('truetype'),
       url('./fonts/fira/FiraSans-ExtraBold.ttf') format('truetype');
  font-weight: 300, 400, 800;
}

@font-face {
  font-family: 'Source_Sans_Pro';
  src: url('./fonts/source_sans_pro/SourceSansPro-SemiBold.ttf') format('truetype'),
       url('./fonts/source_sans_pro/SourceSansPro-Bold.ttf') format('truetype'),
       url('./fonts/source_sans_pro/SourceSansPro-Black.ttf') format('truetype');
  font-weight: 600, 700, 900;
}

/*====================
        APP
======================*/
:root {
  --primary: hsl(0, 0%, 100%);
  --gift: hsl(52, 100%, 50%);
}

body {
  background-color: var(--primary);
}

/*====================
        HEADER
======================*/

header {
  transition: all 300ms ease-in;
}

/* header .header {
  display: flex;
  position: fixed;
  background-color: hsl(0, 0%, 0%);
  color: var(--primary);
  box-shadow: none;
  width: 100%;
  height: 2rem;
  padding: 5px;
} */

/* header .MuiToolbar-root {
  min-height: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
} */

/* header .header_st {
  display: flex;
  justify-content: center;
  flex-grow: 3;
} */

/* header .header_social {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
} */

/* header .header_phone {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  align-items: center;
  font-size: 1rem;
} */

/* .header_social .MuiIconButton-root,
.header_phone .MuiIconButton-root {  
  color: var(--primary);
  text-decoration: none;
  display: flex;
  align-items: center;
} */


/* .header_social:hover .MuiIconButton-root:not(:hover),
.header_phone:hover .MuiIconButton-root:not(:hover) {
  color: rgb(30, 30, 30);
} */

/* @media (max-width: 1000px) {

} */

/* @media (max-width: 450) {

} */

/*====================
        NAVBAR
======================*/

.MuiAppBar-root.navbar {
  background-color: hsl(0, 0%, 9%);
}

.logo-img {
  max-height: 4rem;
  width: auto;
}

/*====================
        FEATURED
======================*/
.featured_container {
  position: relative;
  height: 450px;
}

.carousel_img {
  background-size: cover !important;
  height: 450px;
}

/*====================
        INTRO
======================*/

.intro_wrapper {
  height: 20rem;
  width: 100%;
  background-color:		hsl(0, 0%, 18%);
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

.intro_wrapper h1 {
  display: flex;
  color: #fff;
}

/*====================
        Parallax
======================*/

.top-layer {
  position: relative;
  z-index: 5;
}

.prlx-layer {
  position: fixed;
  z-index: -2;
}

.bottom-layer {
  position: relative;
  z-index: 5;
}

/* .prlx_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
} */

.prlx_img {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  filter: brightness(50%);
  background-repeat: no-repeat;
}

.prlx_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  z-index: 5;
}

.message-wrapper {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: relative;
  top: 20rem;
  left: 35%;
  border: 2px solid #fff;
  height: 5rem;
  width: 30%;
  padding: 5px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid #fff;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  padding: 0 1rem;
}

/*====================
        CUSTOMERS
======================*/

.customers_wrapper {
  height: 10rem;
  width: 100%;
  background-color:		hsl(0, 0%, 18%);
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

.customers_wrapper div {
  display: flex;
  flex: 1;
  justify-content: center;
}

.customers_logo {
  display: flex;
  flex: 1;
  max-width: 50%;
}

/*====================
        Services
======================*/

.services_wrapper {
  height: 450px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.feature {
  flex: 1 50%;
  align-items: center;
  justify-content: flex-start;
}

.feature-1, .feature-4 {
  /* background-color: hsl(205, 56%, 35%); */
  background-color: hsl(0, 0%, 9%);
  flex-direction: column;
  justify-content: flex-start;
  padding: 5%;
  color:#fff;
}

.feature-1 h2 {
  font-family: 'Source_Sans_Pro';
  font-weight: 900;
  font-size: 2.3rem;
}

.feature-1 p {
  font-family: 'Fira';
  font-weight: 800;
}

.feature-2 {
  background-position-y: -5rem;
  justify-content: center;
}

.feature-3 {
  background-position-y: -12rem;
  justify-content: center;
}

/*====================
        Footer
======================*/

.footer {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex: row;
  color: #fff;
  background-color: #1e1e1e;
  width: 100%;
  height: 14rem;
  z-index: 2;
}

.footer-title, .footer-links, .footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-title h1 {
  font-size: 3rem;
  font-family: 'Quicksand';
  font-weight: 700;
  margin: 0;
  align-items: start;
}

.footer-title p {
  font-size: 2rem;
  font-family: 'Quicksand';
  font-weight: 400;
  margin: 0;
}

ul li {
  margin: 10px auto;
}
